body {
    font-family: "Prompt", sans-serif;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
    line-height: 1.6;
    letter-spacing: 0.5px;
}

h1  {
    text-align: center;
    font-size: 28px;
    color: #2c3e50;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: 20px;
    margin-top: 20px;
}

.gallery img {
    width: 200px;
    height: auto;
    margin: 5px;
    border: 2px solid #ccc;
    border-radius: 15px;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
    border-color: #3498db;
}